/* Header */
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: solid 1px black;
  z-index: 20;
}
nav a {
  color: black;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo span {
  color: MediumAquamarine;
}
.logo img {
  margin-right: 12px;
}
nav {
  padding-right: 40px;
  flex-wrap: wrap;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
/* Body */
body {
  margin: 0;
}
.content {
  display: flex;
  padding-top: 116px;
  width: 1232px;
  margin: 0 auto 78px auto;
}
.column {
  flex-direction: column;
  display: flex;
  margin-right: 32px;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
.main {
  background-image: url(../images/main.png);
  width: 630px;
}
.fall {
  background-image: url(../images/fall.png);
}
.camera {
  background-image: url(../images/camera.png);
}
.cat {
  background-image: url(../images/cat.png);
}
.fall, .camera, .cat {
  margin-top: 15px;
  text-align: center;
}
.images {
  height: 300px;
}
.images span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.main span {
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
}
.stories {
  display: flex;
  justify-content: space-between;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.stories .text {
  height: 250px;
}
